
.cabeçalho {
    background-color: rgb(31, 64, 229);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.titulo {
    color: rgb(201, 28, 28);
    font-size: 24px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
