body{

    header{
        h1{
            background-color: #E9951F;
         font-family:Georgia, 'Times New Roman', Times, serif;
            text-align: center;
            width: 15%;
            height: 5%;
            color: #F2F2F2;
            margin: auto;
        }
        img {
            text-align: left;
            width: 15%;
            height: auto;
            margin:auto;
        }
    
    }
    footer{
        p{
            text-align:end;
            width: 50%;
            margin: 40%;
            
        }
    }
}